<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link href='http://fonts.googleapis.com/css?family=Habibi|PT+Mono|Happy+Monkey' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ site.url }}{{ site.root }}{{ site.styles_dir }}/stylesheet.css" media="screen" />
    <link rel="shortcut icon" href="{{ site.url }}{{ site.root }}{{ site.images_dir }}/favicon.ico">
    <title>
      {% if page.title %}
          {{ page.title }}
        {% else %}
          The Legal Coda
      {% endif %}
    </title>
  </head>
  <body>
    <div class="container">