<aside class="sidebar">
  <a  href="{{ site.url }}{{ site.root }}index.html">
    <h4>Casey Kuhlman</h4>
    <img src="{{ site.url }}{{ site.root }}{{ site.images_dir }}/gravatar.png" class="gravatar"/>
  </a>
  <p>Currently, Co-Founder of <a href="https://erisindustries.com">Eris Industries</a> a smart contract company. Formerly, Founder of <a href="http://wsl.so">Watershed Legal Services</a> a full service law firm in Somaliland. This is my normal blog where I drone on about many different topics. Otherwise I am <a href="http://caseykuhlman.com">around</a>.</p>
  <hr />
  <div class="follow-me">
    <a href="https://blog.caseykuhlman.com/rss.xml" /><img src="{{ site.url }}{{ site.root }}{{ site.images_dir }}/RSS.png" alt="RSS" /></a>
    {% if site.author.twitter %}<a href="http://twitter.com/{{ site.author.twitter }}"><img src="{{ site.url }}{{ site.root }}{{ site.images_dir }}/Twitter.png" alt="twitter" /></a>{% endif %}
    {% if site.author.github %}<a href="http://github.com/{{ site.author.github }}"><img src="{{ site.url }}{{ site.root }}{{ site.images_dir }}/GitHub.png" alt="github" /></a>{% endif %}
    {% if site.author.googleplus %}<a href="https://plus.google.com/+{{ site.author.googleplus }}" rel="author"><img src="{{ site.url }}{{ site.root }}{{ site.images_dir }}/Google.png" alt="googleplus" /></a>{% endif %}
    {% if site.author.tumblr %}<a href="http://{{ site.author.tumblr }}.tumblr.com/"><img src="{{ site.url }}{{ site.root }}{{ site.images_dir }}/Tumblr.png" alt="tumblr" /></a>{% endif %}
    {% if site.author.lastfm %}<a href="http://last.fm/user/{{ site.author.lastfm }}"><img src="{{ site.url }}{{ site.root }}{{ site.images_dir }}/LastFM.png" alt="lastfm" /></a>{% endif %}
  </div>
  <hr />
</aside>