{% include header.html %}
{% include navigation.html %}
  <div class="single-post-container">
    {% unless page.no_header %}
      <header>
        <h1 class="entry-title">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
      </header>
    {% endunless %}
    <article class="hentry" role="article">
      <div class="entry-content">{{ content }}</div>        
      {% if page.meta %}
        <p class="post-meta">
          {% if site.author %}
            <span class="byline author vcard">Posted by <span class="fn">{{ site.author }}</span> | on
          {% else %}
            <span class="byline author vcard">Posted on 
          {% endif %}
          {{ page.date | date: "%d %h %Y" }} </span>
          {% capture category %}{% if post %}{{ post.categories | category_links | size }}{% else %}{{ page.categories | category_links | size }}{% endif %}{% endcapture %}
          {% unless category == '0' %}
          <span class="categories">
            {% if post %}
              {{ post.categories | category_links }}
            {% else %}
              {{ page.categories | category_links }}
            {% endif %}
          </span>
          {% endunless %}
        </p><!-- .post-meta -->
      {% endif %}
      <p class="meta">
        {% if page.previous.url %}
          <a class="basic-alignment left" href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}">&laquo; {{page.previous.title}}</a>
        {% endif %}
        {% if page.next.url %}
          <a class="basic-alignment right" href="{{page.next.url}}" title="Next Post: {{page.next.title}}">{{page.next.title}} &raquo;</a>
        {% endif %}
      </p>
    </article>
    <div class="comments">
      {% if page.comments %}
        {% include comments.html %}
      {% endif %}
    </div><!-- .comments -->  
  </div><!-- .single-post-container -->
<aside class="sidebar">
  {% include sidebar.html %}
</aside>
{% include footer.html %}
{% include analytics.html %}