{% include header.html %}
{% unless page.no_header %}
  <header>
    <h1>{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
  </header>
{% endunless %}
<article class="content">
  {{ content }}        
  {% include meta.html %}
</article>
{% if site.related_posts.size > 1 %}
  {% include related.html %}
{% endif %}
<br />
{% if page.comments %}
  <div class="comments">
    {% include comments.html %}
  </div><!-- .comments -->
{% endif %}
{% include navigation.html %}
{% include sidebar.html %}
{% include footer.html %}
{% include analytics.html %}