{% include header.html %}
{% include navigation.html %}
{% unless page.no_header %}
  <div class="row">
    <div class="col-xs-12">
      <header>
        <h1>{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
      </header>
    </div>
  </div>
{% endunless %}
<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <article class="content">
      {{ content }}
      {% include meta.html %}
    </article>
  </div>
</div>
<br />
{% if page.comments %}
  <div class="comments">
    {% include comments.html %}
  </div><!-- .comments -->
{% endif %}
{% include sidebar.html %}
{% include footer.html %}
{% include analytics.html %}