{% include header.html %}
{% unless page.no_header %}
  <header>
    <h1 class="entry-title">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
  </header>
{% endunless %}
<article class="entry">
  <div class="entry-content">{{ content }}</div>        
  {% include entry_meta.html %}
</article>
<br />
<div class="comments">
  {% if page.comments %}
    {% include comments.html %}
  {% endif %}
</div><!-- .comments -->
{% include sidebar.html %}
{% include footer.html %}
{% include analytics.html %}